<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShambaShop"
        tools:targetApi="31">

        <!-- Login Activity (no history so it won't stay in the back stack) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />

        <!-- Customer Dashboard Activity -->
        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <!-- Farmer Dashboard Activity -->
        <activity
            android:name=".FarmerDashboardActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <!-- Product Listing Activity -->
        <activity
            android:name=".ProductListingActivity"
            android:exported="false" />

        <!-- Cart Activity -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <!-- Reports Activity -->
        <activity
            android:name=".ReportsActivity"
            android:exported="false" />

        <!-- Order History Activity -->
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />

        <!-- Browse Purchase Activity -->
        <activity
            android:name=".BrowsePurchaseActivity"
            android:exported="false" />

        <!-- Checkout Activity -->
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />

    </application>

</manifest>